.info {
  background-color: var(--background-green);
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
  color: var(--high-green);
}

.image-wrapper {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  overflow: hidden;
  margin: 0 auto;
}

.image-wrapper img {
  height: 100%;
  object-fit: cover;
}

.info p {
  width: 30%;
  font-size: 1.6rem;
}
