.contact {
  background-color: #ccc;
  border-radius: 12px;
  padding: 20px;
}

.contact h1 {
  font-size: 3rem;
  color: #333;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.form {
  background-color: var(--light-green);
}

.controls {
}

.control {
}

.text {
}

.actions {
  margin-left: auto;
}

.actions button {
  font-size: ;
}
