.notification {
  text-align: center;
  font-size: 2rem;
  background-color: #ccc;
  padding: 20px 12px;
  color: #333;
}

.notification.success {
  background-color: #6a5aff;
}

.notification.error {
  background-color: rgb(198, 31, 31);
}
